feat: validate environment variable values during API bootstrap

In order to:

- provide early detection of envvar values that will cause latent runtime errors
- support implementation of #555

we will:
- validate each envvar value during API bootstrap according to the table below. Bootstrap will stop if an invalid value is detected.
- update the documentation to include these requirements
- develop tests that verify the correctness of the implementation

| envvar | valid type | valid values | default |
| --- | --- | --- | --- |
| STIGMAN_API_ADDRESS | string |RFC 790 IP Address | 0.0.0.0 |
| STIGMAN_API_MAX_JSON_BODY | integer | Range 1 - 1073741824 | 5242880 |
| STIGMAN_API_MAX_UPLOAD | integer | Range 1 - 1073741824 | 1073741824 |
| STIGMAN_API_PORT | integer | Range 1 - 65535 | 54000 |
| STIGMAN_CLASSIFICATION | string | enum [NONE, U, CUI, C, S, TS, SCI] | U |
| STIGMAN_CLIENT_API_BASE | string | maxlen 128 | ./api |
| STIGMAN_CLIENT_DIRECTORY | string | maxlen 128 | ./client (current doc wrong?)|
| STIGMAN_CLIENT_DISABLED | string | enum [true, false] | false |
| STIGMAN_CLIENT_EXTRA_SCOPES | string | maxlen 128 | |
| STIGMAN_CLIENT_ID | string | maxlen 128 | stig-manager |
| STIGMAN_CLIENT_OIDC_PROVIDER | string | RFC 1738 http: or https: URL | STIGMAN_OIDC_PROVIDER |
| STIGMAN_CLIENT_SCOPE_PREFIX | string | maxlen 128 | |
| STIGMAN_CLIENT_REFRESH_DISABLED | string | enum [true, false] | false |
| STIGMAN_CLIENT_WELCOME_IMAGE | string | RFC 1738 http: or https: URL | |
| STIGMAN_CLIENT_WELCOME_LINK | string  | RFC 1738 http: or https: URL | |
| STIGMAN_CLIENT_WELCOME_MESSAGE | string | maxlen 1024 | |
| STIGMAN_CLIENT_WELCOME_TITLE | string | maxlen 64 | |
| STIGMAN_DB_HOST | string | RFC 1123 hostname or RFC 790 IPAddress | localhost |
| STIGMAN_DB_MAX_CONNECTIONS | integer | 1 - 128 | 25 |
| STIGMAN_DB_PASSWORD | string | maxlen 256 | |
| STIGMAN_DB_PORT| integer | 1 -65536 | 3306 |
| STIGMAN_DB_SCHEMA | string | maxlen 64 | stigman |
| STIGMAN_DB_TLS_CA_FILE | string | maxlen 1024 | |
| STIGMAN_DB_TLS_CERT_FILE | string | maxlen 1024 | |
| STIGMAN_DB_TLS_KEY_FILE | string | maxlen 1024 | |
| STIGMAN_DB_USER | string | maxlen 32 | stigman |
| STIGMAN_DOCS_DIRECTORY | string | maxlen 128 | |
| STIGMAN_DOCS_DISABLED | string | enum [true, false] | false |
| STIGMAN_EXPERIMENTAL_APPDATA | string | enum [true, false] | false |
| STIGMAN_LOG_LEVEL | integer | 1 - 4 | 3 |
| STIGMAN_LOG_MODE | string | enum[combined, separate] | combined |
| STIGMAN_JWT_ASSERTION_CLAIM | string | ECMAScript identifier, maxlen 64 | jti |
| STIGMAN_JWT_EMAIL_CLAIM | string | ECMAScript identifier, maxlen 64 | email |
| STIGMAN_JWT_NAME_CLAIM | string | ECMAScript identifier, maxlen 64 | name |
| STIGMAN_JWT_PRIVILEGES_CLAIM | string | Dot-separated ECMAScript identifiers,  maxlen 128 | realm_access.roles |
| STIGMAN_JWT_SCOPE_CLAIM | string | ECMAScript identifier, maxlen 64 | scope |
| STIGMAN_JWT_SERVICENAME_CLAIM | string | ECMAScript identifier, maxlen 64 | clientId |
| STIGMAN_JWT_USERNAME_CLAIM | string | ECMAScript identifier, maxlen 64 | preferred_username |
| STIGMAN_OIDC_PROVIDER | string | RFC 1738 http: or https: URL | http://localhost:8080/realms/stigman (docs wrong) |
| STIGMAN_SWAGGER_ENABLED | string | enum [true, false] | false |
| STIGMAN_SWAGGER_OIDC_PROVIDER | string | RFC 1738 http: or https: URL | STIGMAN_OIDC_PROVIDER |
| STIGMAN_SWAGGER_REDIRECT | string | RFC 1738 http: or https: URL | http://localhost:54000/api-docs/oauth2-redirect.html |
| STIGMAN_SWAGGER_SERVER | string | RFC 1738 http: or https: URL | http://localhost:54000/api |
